<div class="container">
  <div class="details">
    <div class="image_container">
      <img
        [src]="
          (product | async)?.image ||
          'https://fakeimg.pl/600x400?text=Product+image&font=bebas'
        "
      />
      <mat-chip class="view_count"
        ><mat-icon matChipAvatar>visibility</mat-icon>
        {{ (product | async)?.views }}</mat-chip
      >
    </div>
    <div class="edit_product">
      <a [routerLink]="['/products', 'edit', (product | async)?.id]">
        <button mat-flat-button class="btn">
          <mat-icon matChipAvatar>edit</mat-icon> Edit product
        </button>
      </a>
    </div>
    <div class="header">
      <h2>{{ (product | async)?.name }}</h2>
      <span>{{ (product | async)?.price }} $</span>
    </div>
    <h4 class="category">{{ (product | async)?.categoryName }}</h4>
    <hr />
    <h4 class="description_title">Description:</h4>
    <p>{{ (product | async)?.description }}</p>
  </div>
  <app-product-card></app-product-card>
</div>
