.filters_container {
    padding: 1rem 1.5rem;
    border-radius: 14px;
    background-color: white;
    mat-form-field {
        width: 100%;
    }
}

.price_filter {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    mat-form-field {
        flex: 1;
    }
}

.search_btn {
    width: 100%;
}

.sort_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}