<header>
    <div class="header_content">
        <a [routerLink]="['']">
            <h1>NearBy</h1>
        </a>
        <div class="links">
            <ul>
                <li>
                    <a class="header_link" routerLink="/">Products</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a class="header_link" routerLink="/categories/manage">Manage categories</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a class="header_link" routerLink="/products/manage">Create product</a>
                </li>
            </ul>
        </div>
        <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
</header>
<main class="app-container">
    <router-outlet></router-outlet>
</main>